<div class="container">
    <form 
        (ngSubmit)="editStudent()" 
        [formGroup]="myReactiveForm">
        <div class="card m-5" [ngClass]="{'border border-success':borderStatus=='VALID', 'border border-danger':borderStatus=='INVALID'}">
            <div class="card-header bg-primary text-white">
                <h4>EDIT STUDENT</h4>
            </div>

            <div class="card-body">
                <div formGroupName="personalData">
                    <div class="form-group m-2">
                        <label for="studName">Student Name:</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="studName"
                            formControlName="rsName">
                        <div *ngIf="myReactiveForm.get('personalData.rsName')?.errors?.['required']" class="small text-danger">
                            Student Name is Required!!
                        </div>
                        <div *ngIf="myReactiveForm.get('personalData.rsName')?.errors?.['minlength']" class="small text-danger">
                            Student Name should be atleast 2 characters!!
                        </div>
                        <div *ngIf="myReactiveForm.get('personalData.rsName')?.errors?.['invalidText']" class="small text-danger">
                            Student Name should contain only characters and spaces!!
                        </div>
                    </div>
                    <div class="form-group m-2">
                        <label for="studPhoto">Student Image Url:</label>
                        <input 
                            type="text" 
                            class="form-control" 
                            id="studPhoto"
                            formControlName="rsPhoto">
                        <div *ngIf="myReactiveForm.get('personalData.rsPhoto')?.errors?.['required']" class="small text-danger">
                            Student Image Url is Required!!
                        </div>
                    </div>
                </div>
                <div class="form-group m-2">
                    <label for="studMark">Student Total Marks:</label>
                    <select class="form-control" id="studMark" formControlName="rsMark">
                        <option>--select--</option>
                        <option *ngFor="let mark of allMark">{{ mark }}</option>
                    </select>
                    <div *ngIf="myReactiveForm.get('rsMark')?.errors?.['required']" class="small text-danger">
                        Student Total Mark is Required!!
                    </div>
                </div>
                <div class="form-group m-2">
                    <label for="studDOB">Student DOB:</label>
                    <input 
                        type="date-local" 
                        class="form-control" 
                        id="studDOB"
                        formControlName="rsDob">
                    <div *ngIf="myReactiveForm.get('rsDob')?.errors?.['required']" class="small text-danger">
                        Student DOB is Required!!
                    </div>
                </div>
                
                <div class="form-check-online m-2">
                    Student Gender:
                    <span *ngFor="let gen of allGender">
                        <label class="form-check-label m-1">
                            <input type="radio" class="form-check-input" [value]="gen.gender" formControlName="rsGender">
                            {{ gen.gender }}
                        </label>
                    </span>
                </div>
            </div>
            <div class="card-footer bg-primary">
                <button type="submit" class="btn btn-light text-primary">Update</button>
                <button type="button" class="btn btn-light text-primary" (click)="addValidatorToName()">Add Validator to Name</button>
            </div>
        </div>
    </form>
</div>
