<nav class="navbar navbar-expand-sm bg-dark navbar-dark text-white">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item" routerLinkActive="highlight">
            <!-- <a class="nav-link active" href="display">Display Comp || </a>  -->
            <a class="nav-link active" routerLink="display">Display Comp || </a> 
        </li>
        <li class="nav-item" routerLinkActive="highlight">
            <!-- <a class="nav-link active" href="counter">Counter Comp ||</a>  -->
            <a class="nav-link active" [routerLink]="'counter'">Counter Comp ||</a> 
        </li>
        <li class="nav-item" routerLinkActive="highlight">
            <!-- <a class="nav-link active" href="colors">Colors Comp ||</a>  -->
            <a class="nav-link active" routerLink="colors">Colors Comp ||</a> 
        </li>
        <li class="nav-item" routerLinkActive="highlight">
            <a class="nav-link active" routerLink="todo">Todo Comp ||</a> 
        </li>
        <li class="nav-item" routerLinkActive="highlight">
            <a class="nav-link active" routerLink="student-list">Student List Comp ||</a> 
        </li>
        <li class="nav-item" routerLinkActive="highlight">
            <a class="nav-link active" routerLink="student-list-http">Student List Http Comp ||</a>
        </li>
        <li class="nav-item" routerLinkActive="highlight">
            <a class="nav-link active" routerLink="weather">Weather Comp ||</a>
        </li>

      </ul>
    </div>
  </nav>
