<h2>This is AppComponent!!</h2>
<!-- <app-display></app-display> -->
<!-- <app-counter></app-counter> -->
<!-- <app-toggle-message></app-toggle-message> -->
<!-- <app-colors></app-colors> -->
<!-- <app-student-list></app-student-list> -->
<!-- <app-todo-list></app-todo-list> -->
<!-- <app-number-display></app-number-display> -->
<!-- <app-product-list></app-product-list> -->
<!-- <app-lifecycle-parent></app-lifecycle-parent> -->
<!-- <app-observable-demo></app-observable-demo> -->

<!-- <app-student-list-http></app-student-list-http> -->
<app-weather></app-weather>
